.order-modal{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(5px);
    /* margin-left: 270px; */
}

.edit-header{
    margin-bottom: 30px;
}


.edit-img-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}