.login-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-field {
  background: linear-gradient(214deg, #dbbbd8 0%, rgba(102, 123, 31, 0) 100%);
  display: flex;
  justify-content: center;
  width: 400px;
}

.login-img{
  @media screen and (max-width:600px) {
    display: none;
  }
  @media screen and (max-width:800px) {
    display: none;
  }
}

.logo-img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.login-header {
  padding-top: 25px;
  padding-bottom: 20px;
}

.login-field1 {
  background-color: white;
  border-radius: 5px;
}

.login-button {
  width: 300px;
  padding-top: 35px;
  padding-bottom: 10px;
}


